:root {
    --clr-primary: rgb(20, 20, 20);
    --clr-secondary: rgb(30, 30, 30);
    --clr-txt: rgb(230, 230, 230);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

/* body * {
    outline: 1px solid black;
} */

body {
    background-color: var(--clr-primary);
    color: var(--clr-txt);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
main,
footer {
    padding: 1rem;
}

header,
footer {
    background-color: var(--clr-secondary);
    text-align: center;
}

main {
    flex: 1;

}

