:root {
    --clr-primary: rgb(20, 20, 20);
    --clr-secondary: rgb(30, 30, 30);
    --clr-txt: rgb(230, 230, 230);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

/* body * {
    outline: 1px solid black;
} */

body {
    background-color: var(--clr-primary);
    color: var(--clr-txt);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
main,
footer,
.weather {
    padding: 1rem;
}

header,
footer,
button,
.search,
.units,
.weather {
    background-color: var(--clr-secondary);
}

header,
footer {
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.search {
    display: flex;
}

.search input {
    margin: 0.5rem;
    height: 2rem;
}

.search button {
    background-color: inherit;
    color: inherit;
    border: none;
}

.search img {
    filter: invert(1);
    height: 3rem;
}

.search button:hover {
    cursor: pointer;
    outline: 1px solid var(--clr-txt);
}

.units {}

.weather {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.weather-icon {
    display: flex;
    align-items: center;
}
